Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
tcpc_config.h
tcpc_config.h.in
version
err.log
src/*.o
src/tcpc
