Makefile
Makefile.in
agent-version.txt
conf/simet-ma.conf
conf/lmap-sched-template.json
config.d/simet-ma_base-config.json
config.d/simet-ma_tasklet-config.json
config.d/simetbox_base-config.json
registry.d/simet-ma_base-registry.json
registry.d/simet-ma_tasklet-registry.json
registry.d/simetbox_base-registry.json
simet*_register_ma.sh
simet*_view_results.sh
simet-ma_periodic.sh
simet_report-queue-flush.sh
simet*_lmap-fetch-schedule.sh
simet*_lmap-create-report.sh
simet*_lmap-send-report.sh
simet*_lmap-stdout-wrapper.sh
simet*_geolocation.sh
simet_read_vlabel.sh*
simet_spoofer_v2.sh
simet_create_vlabel.sh*
simet_issuebanner-generator.sh
simet_qrcode.sh
simet_pairing_info.sh
simet_lib.sh*
simet_lib_config.sh
simet_lib_lmapd.sh
lmap-tasks/*.sh
