#!/bin/sh -e
# SIMET MA debconf(7) config driver, MEC version
# Copyright (c) 2018 NIC.br <medicoes@simet.nic.br>
#
# Distributed under the GPLv3+ license with additional terms and permissions
# Refer to the COPYING file on the program source for details

. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

# title
db_settitle simet-ma/title

CONFFILE=/opt/simet/etc/simet/mec.conf

# we depend on curl, so we might run before it is installed
# if that happens, defer.  We will run successfully at postinst time
if ! curl -V >/dev/null 2>&1 ; then
	db_stop
	echo "$0: package curl not installed (yet), deferring configuration" >&2
	echo "$0: pacote curl não instalado (ainda), adiando configuração" >&2
	exit 10
fi

config_reset() {
	# ensure we don't get stuck due to seen statuses
	# if we decide we don't like something
	for i in simet-ma/mec-inepcode simet-ma/mec-inepcheck \
		 simet-ma/mec-schooladdress simet-ma/mec-schoolemail \
		 simet-ma/mec-schoolphone ; do
		db_fset "$i" seen false || true
	done
}

config_read_from_etc() {
	if [ -r "$CONFFILE" ] ; then
		. "$CONFFILE"
		if [ -n "$INEPCODE" ] ; then
			db_set simet-ma/mec-inepcode "$INEPCODE"
			db_set simet-ma/mec-schooladdress "$MECADDR"
			db_set simet-ma/mec-schoolemail "$SIMETUSEREMAIL"
			db_set simet-ma/mec-schoolphone "$SIMETUSERPHONE"
		fi
	fi
	:
}

# fail only if invalid, not if validity is unknown!
fetch_inep_school_name() {
	if [ $# -ne 1 ] || [ -z "$1" ] ; then
		db_input high simet-ma/mec-ineperror || true
		config_reset
		return 1
	fi
	if INEPNAME=$(curl -s -f -L --post301 --post302 --post303 --max-filesize 128 \
			-m 30 -d "INEP_CODE=$1" --retry 3 --retry-max-time 60 \
			https://api.simet.nic.br/educacao-conectada/inep-service/school-by-inep) ; then
		if [ "$INEPNAME" = "unknown" ] ; then
			db_input high simet-ma/mec-ineperror || true
			config_reset
			return 1
		fi
		db_subst simet-ma/mec-inepcheck INEPCODE "$1"
		db_subst simet-ma/mec-inepcheck INEPNAME "$INEPNAME"
	else
		# curl failed, not installed, or API unavailable
		db_subst simet-ma/mec-inepcheck INEPCODE "$1"
		db_subst simet-ma/mec-inepcheck INEPNAME "(??????)"
	fi
	:
}

STATE=1
LOOPED=0
config_read_from_etc
while true ; do
	case "$STATE" in
	1)	# Cover page
		db_input high simet-ma/cover || true
		if ! db_go ; then
			# User asked to cancel/back the very first question
			echo "Aborting on user request..." >&2
			exit 10
		fi
		STATE=2
		;;
	2)	# INEP code
		db_input high simet-ma/mec-inepcode || {
			# user is not being shown the dialog
			# detect loop due to non-interactive frontend, etc
			[ $LOOPED -eq 1 ] && {
				echo "$0: cannot talk to user to get INEP code, aborting..." >&2
				echo "$0: impossibilitado de pedir o INEP! impossibilitado de continuar" >&2
				exit 10
			}
			LOOPED=1
		}
		if db_go ; then
			db_get simet-ma/mec-inepcode
			if fetch_inep_school_name "$RET"; then
				STATE=3
				LOOPED=0
			else
				continue
			fi
		else
			db_fset simet-ma/cover seen false || true
			STATE=1
		fi
		;;
	3)	# Ask if INEP is correct
		db_input high simet-ma/mec-inepcheck || {
			# user is not being shown the dialog
			STATE=4
			continue
		}
		if db_go ; then
			db_get simet-ma/mec-inepcheck
			if [ "$RET" != "true" ] ; then
				STATE=2
			else
				STATE=4
			fi
		else
			STATE=2
		fi
		if [ $STATE -eq 2 ] ; then
			db_fset simet-ma/mec-inepcode seen false || true
			db_fset simet-ma/mec-inepcheck seen false || true
			db_reset simet-ma/mec-inepcheck || true
		fi
		;;
	4)	# Input page 1 (MEC)
		db_beginblock || true
		db_input high simet-ma/mec-schooladdress || true
		db_input high simet-ma/mec-schoolemail || true
		db_input high simet-ma/mec-schoolphone || true
		db_endblock || true

		if db_go; then
			break;
		else
			db_fset simet-ma/mec-inepcheck seen false || true
			STATE=3
		fi
		;;

	*)	break;
		;;
	esac
done
:
