{ 
  "ietf-lmap-report": {
    "date": "$_date",
    "agent-id": "$_agent",
    "result": [
      {
        "schedule": "$_schedule",
        "action": "$_action",
        "task": "$_task",
        "table": [
          $(cat $_table_first)
          ### begin
          # for _table in ${TABLE_FOLLOW[@]} ; do
          , 
          $(cat $_table)
          # done
          ### end
        ]
      }
    ]
  }
}
