{   
    "date": "$_lmap_report_date",
    "agent-id": "$AGENT_ID",
    "result": [
      ### begin
      # _first=$(find $_report_dir/*/result.json | head -n1)
      $(cat $_first)
      # for _follower in $(find $_report_dir/*/result.json | (read; cat)) ; do
      , 
      $(cat $_follower)
      # done
      ### end
    ]
}